.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

#register{
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    transition: all .2s ease-in-out;
}

#register:hover{
    transform: scale(0.9);
}

#login{
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    border-radius: 20px;
    width: 100px;
    transition: all .2s ease-in-out;
}

#login:hover{
    transform: scale(0.9);
}

.connection-form .active-btn{
    background-color: var(--gris-bg);
    box-shadow: 0 8px 32px 0 rgba(123, 123, 125, 0.37);
    filter: drop-shadow(0 0 0.75rem var(--shadow));
    border: 1px solid rgba(255, 255, 255, 0.329);
}

.connection-form .btn{
    border: 1px solid var(--border);
}

