

@media screen and (min-width: 600px){
    .content-autre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    
    .autre{
        margin: 0 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        row-gap: 10%;
    }

    .d1-autre{
        grid-area: 1 / 2 / 3 / 3;
        height: 445px;
        margin: 0 10%;
    }

    .d2-autre{
        grid-area: 1 / 1 / 2 / 2;
        height: 200px;
        margin: 0 10%;
    }

    .d3-autre{
        grid-area: 2 / 1 / 3 / 2;
        height: 200px;
        margin: 0 10%;
    }
}

@media screen and (max-width: 600px){

    .content-autre{
        margin-top: 50px;
    }

    .autre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0 10%;
        gap: 5%;
        margin-bottom: 15%;
    }

    .d1-autre{
        grid-area: 1 / 1 / 3 / 2;
        height: 350px;
    }

    .d2-autre{
        grid-area: 3 / 1 / 4 / 2;
        height: 150px;
    }

    .d3-autre{
        grid-area: 4 / 1 / 5 / 2;
        height: 150px;
    }
}

.d1-autre a{
    color: var(--blanc);
}
.d2-autre a{
    text-decoration: none;
    color: inherit;
}
.d3-autre a{
    text-decoration: none;
    color: inherit;
}


.tilty-autre {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-color: var(--gris-bg);
    box-shadow: 0 8px 32px 0 rgba(123, 123, 125, 0.37);
    border: 1px solid var(--border);
}

.inner-autre {
    transform: translateZ(60px);
    transition: 0.2s;
}

.text-autre{
    text-align: center;
}