
.nouveaute-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px){
    .nouveaute .tilt{
        display: flex;
        justify-content: center;
        margin: 10% 0;
        color: #fff;
        opacity: 0;
        transform: translateY(-30px);
        animation: apparitionTilt 0.8s 0.6s ease-out forwards;
        z-index: -1;
    }

    .nouveaute{
        margin: 0 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media screen and (max-width: 1000px){
    .nouveaute .tilt{
        display: flex;
        justify-content: center;
        margin: 10% 0;
        color: #fff;
        opacity: 0;
        transform: translateY(-30px);
        animation: apparitionTilt 0.8s 0.6s ease-out forwards;
        z-index: -1;
    }

    .nouveaute{
        margin: 0 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media screen and (max-width: 600px){
    .nouveaute .tilt{
        display: flex;
        margin: 10% 0;
        color: #fff;
        opacity: 0;
        transform: translateY(-30px);
        animation: apparitionTilt 0.8s 0.6s ease-out forwards;
        z-index: -1;
        margin: 50px 20px;
    }

    .nouveaute{
        margin: 0;
        width: 100%;
        display: flex;
        overflow-x: auto;
    }
}


@keyframes apparitionTilt{
    100%{
        opacity: 1;
        transform: none;
    }
}



.tilty {
    cursor: pointer;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-color: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(123, 123, 125, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.inner {
    transform: translateZ(60px);
    color: var(--blanc);
    transition: 0.2s;
    color: rgba(255, 255, 255, 0);
}

.text{
    margin-left: 10px;
}

.inner:hover{
    color: #fff;
    text-shadow: rgb(184, 226, 250) 1px 0 10px;
}

.inner:hover .img img{
    margin-left: 75px;
    margin-top: 75px;
    height: 90px;
}

.title{
    font-size: 1.5em;
    color: #fff;
    text-shadow: rgb(184, 226, 250) 1px 0 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparitionTilt 0.8s 0.6s ease-out forwards;
}

.description{
    margin-top: -12.5px;
    color: transparent;
    opacity: 0;
    transition: 0.2s;
}

.inner:hover .description{
    color: var(--blanc);
    opacity: 1;
}

.price p{
    margin-top: -50px;
    margin-bottom: 90px;
    height: 70px;
    color: #fff;
    text-shadow: rgb(184, 226, 250) 1px 0 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparitionTilt 0.8s 0.7s ease-out forwards;
}

.inner .price p{
    transition: 0.2s;
}

.inner:hover .price p{
    margin-top: -5px;
    margin-bottom: 0px;
}

.img{
    margin-top: -125px;
    right: 0;
    bottom: 0;
    border: 1px #fff;
    filter: drop-shadow(0 0 0.75rem rgba(184, 226, 250, 0.652));
    opacity: 0;
    transform: translateY(-30px);
    animation: apparitionTilt 0.8s 0.8s ease-out forwards;
}

.img img{
    border-radius: 15px;
    height: 120px;
    transition: 0.2s;
}

.input-addToCart-nouveaute{
    opacity: 0;
    margin-top: -75px;
    transform: translateY(30px);
}

.input-addToCart-nouveaute button:active{
    transform: scale(.9);
}

.input-addToCart-nouveaute button{
    height: 60px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #fff;
}

.input-addToCart-nouveaute button:hover{
    filter: drop-shadow(0 0 0.75rem rgba(184, 226, 250, 0.652));
}

.input-addToCart-nouveaute button img{
    height: 20px;
}

.inner:hover .input-addToCart-nouveaute{
    animation: apparitionInput 0.1s 0.2s ease-out forwards;
}

@keyframes apparitionInput{
    100%{
        opacity: 1;
        transform: none;
    }
}