.form_from_3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
}

.form_21{
    grid-area: 1 / 1 / 2 / 3;
}

.form_22{
    grid-area: 2 / 1 / 3 / 2;
}

.form_23{
    grid-area: 2 / 2 / 3 / 3;
}